<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            text-align: center;
            color: chartreuse;
            padding: 10px;
        }
        p {
            text-align: center;
            color: white;
            font-size: 40px;
        }
        body {
            background-image: url("https://wallpapercave.com/wp/B5x6Ugo.jpg");
            background-size: cover;
            height: 100%;
            position: fixed; top: 0; left: 0;
            width: 100%;
            
        }
    </style>
</head>
<body>
    <h1>Titanic Death Prediction</h1>

    <p class="Prediction" id="Prediction">the chances of losing person's life is {{ prediction }}%</p>
    
</body>
</html>